.loading-fv {
    position: fixed;
    //text-align: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/loading-pacman.gif') 50% 50% no-repeat rgb(249, 249, 249);
    opacity: .8;
}
