.img-carrusel{
    border-radius: 30px;
}

.flotante{
    /*-webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 15px 18px -6px #777;*/
    box-shadow: 0 0.5rem 1rem rgb(2 59 89 / 23.1) !important
}

.footer-text-style{
    color: cornflowerblue;
    font-size: 14px;
}
.login-btn{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: red;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.login-btn:hover{
    background: white;
    border: 1px solid;
    color: black;
}


.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}
